.transparent {
  background: transparent;
  background-color: transparent;
}
* {
  font-family: 'Avenir Next';
}
body {
  background-color: #dfdfdf;
  background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#9a9a9a));
  background: -webkit-linear-gradient(top, #dfdfdf, #9a9a9a);
  background: -moz-linear-gradient(top, #dfdfdf, #9a9a9a);
  background: -ms-linear-gradient(top, #dfdfdf, #9a9a9a);
  background: -o-linear-gradient(top, #dfdfdf, #9a9a9a);
}
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #a19d5e, #ac6e45, #a19d5e);
  background-image: -moz-linear-gradient(left, #a19d5e, #ac6e45, #a19d5e);
  background-image: -ms-linear-gradient(left, #a19d5e, #ac6e45, #a19d5e);
  background-image: -o-linear-gradient(left, #a19d5e, #ac6e45, #a19d5e);
}
hr:after {
  background: transparent;
  background-color: transparent;
  color: #ac6e45;
  content: '\00A7';
  display: inline-block;
  position: relative;
  top: -0.6em;
  left: 50%;
  font-size: 1.5em;
  padding: 0 0.25em;
}
nav {
  height: 100%;
  padding: 1%;
  background-color: #ac6e45;
}
nav .address li:first-child {
  line-height: 40px;
  font-size: 24px;
}
nav ul li {
  float: none;
  line-height: 30px;
}
nav ul li .social li:first-child {
  margin-right: 5%;
}
nav ul li .social li:nth-child(2) {
  margin-left: 5%;
  margin-right: 5%;
}
nav ul li .social li:last-child {
  margin-left: 5%;
}
.slider {
  height: 100%;
}
.slider ul.indicators .indicator-item {
  z-index: 1000;
}
.slider ul.indicators li.indicator-item.active {
  background-color: #4c5975;
}
.container {
  min-height: 500px;
}
.tabs {
  background: transparent;
  background-color: transparent;
}
.tabs li.tab {
  background: transparent;
  background-color: transparent;
}
.tabs li.tab a {
  color: #ac6e45;
}
.tabs li.tab a:hover {
  color: #4c5975;
}
.tabs .indicator {
  background-color: #ac6e45;
}
.pages {
  margin-top: 3%;
}
footer {
  vertical-align: bottom;
  padding: 2%;
  border-top: 2px solid #ac6e45;
  border-bottom: 2px solid #ac6e45;
  margin-top: 2%;
  margin-bottom: 2%;
}
