@patio-cream:#DADADA;
@patio-rust:#AC6E45;
@patio-olive:#A19D5E;
@patio-navy:#4C5975;
@import url(http://fonts.googleapis.com/css?family=Nunito);
@import url(http://fonts.googleapis.com/css?family=Oswald);

//tapering horizontal line
.taper{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), @patio-rust, rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), @patio-rust, rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), @patio-rust, rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), @patio-rust, rgba(0,0,0,0));
}

.transparent {
    background:transparent;
    background-color:transparent;
}

//html attribute styling

body {
  font-family: 'Oswald', 'Nunito', 'Helvetica';
  margin:0;
  padding:0;
  height:100%;
}

#container {
  min-height:100%;
  position:relative;
}

#bodyContainer{ padding-bottom:120px }

.categoryHeading {
    text-align: right;
}
// Tapering horizontal rule
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, @patio-olive, @patio-rust, @patio-olive);
    background-image:    -moz-linear-gradient(left, @patio-olive, @patio-rust, @patio-olive);
    background-image:     -ms-linear-gradient(left, @patio-olive, @patio-rust, @patio-olive);
    background-image:      -o-linear-gradient(left, @patio-olive, @patio-rust, @patio-olive);
    &:after{
    	.transparent;
    	color:@patio-rust;
	content:'\00A7';
	display: inline-block;
	position: relative;
	top: -0.6em;
	left:50%;
	font-size: 1.5em;
	padding: 0 0.25em;
    }
}


//============ Begin Header Styling ============//
header{
    height:100%;
    min-height: 125px;
    padding:2.25% 1.5% 1.5%;
    margin: 0;
    color: white;
    @startColor: lighten(@patio-rust,2%);
    @endColor : darken(@patio-rust, 15%);
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);

	.left{
		line-height: 1em;
		h1 {
			font-size: 36px;
	    line-height: 0.5em;
 	    margin: 0;
  	}
  	p {
  		line-height: 1em;
  		font-size: 1.2em;
  		margin-bottom: 0;
  		&:last-child {
  			margin-top: 0.4em;
  		}
  	}
	}
	.right {
		line-height: 0.5em;
		font-size: 1.2em;
		text-align: right;
		p {
			margin-top: 0;
		}
		span {
			margin-left: 1em;
			font-size: 1.2em;
		}
	}
}

//============ End Nav Styling ============//

//============ Begin Carousel Effects ============//

//carousel effect with indicator dots
.slider{
	height:100%;
	// border-top: 3px solid @patio-olive;
	// border-bottom: 3px solid @patio-olive;
	ul.indicators{
		.indicator-item{
			z-index:1000;
		}
		li.indicator-item.active {
 			 background-color: @patio-navy;
		}
	}
}

//============ End Carousel Effects ============//


//============ Begin Pagination ==============//
.tabs{
	.transparent;
	li.tab{
		.transparent;
		a{
			color:@patio-rust;
			&:hover{
				color:@patio-navy;
			}
		}
	}
	.indicator{
		background-color:@patio-rust;
	}
}

table tr {
	padding: 0;
}

.page{
	.pageDescription {
	  font-size: 1.4em;
	  font-weight: bold;
	  text-align: center;
	}
	.categoryName {
		text-align: center;
		font-size: 3em;
	}
	.categoryDescription {
		text-align: center;
		font-size: 1em;
	  font-weight: bold;
    margin-bottom: 40px;
	}
	.itemName {
    padding: 0;
    p {
  	  font-size: 1.4em;
      font-weight: bold;
      line-height: 1em;
      margin: 0;
      padding: 5px 0 0;
    }
	}
	.itemDescription {
    padding: 0 0 5px;
    p {
      margin: 0;
      padding: 0;
  		font-size: 1em;
	  }
  }
	.itemPrice {
    padding: 0;
    p {
      font-size: 16px;
  		text-align: right;
      padding: 0;
      margin: 0;
  	}
  }
}

footer{
	vertical-align: bottom;
	padding: 0;
	border-top: 2px solid @patio-rust;
	border-bottom: 2px solid @patio-rust;
	margin-top:2%;
	margin-bottom: 2%;
}