<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'pcs/style.css' %}" />
  <title>Patio Coffee Shop</title>
</head>
<body>

  <!--============== Begin Nav  ==============-->
  <nav>
    <ul class='left address'>
      <li>Patio Coffee Shop</li>
      <li>25 W. 25th Ave</li>
      <li>San Mateo, CA 94403</li>
    </ul>
    <ul class='right'>
      <li>Open Daily: 7am - 3pm</li>
      <li>Phone: (650) 570-3037</li>
      <li>
        <ul class='center social'>
          <li class='fa fa-2x fa-yelp'></li>
          <li class='fa fa-2x fa-facebook'></li>
          <li class='fa fa-2x fa-twitter'></li>
        </ul>
      </li>
    </ul>
  </nav>
  <!--============== End Nav  ==============-->
  <!--============== Begin Carousel Slider  ==============-->
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
            <h3>Welcome to the Patio Coffee Shop!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our shop slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Check out this thing!</h3>
          <h5 class="light grey-text text-lighten-3">Some words about this thing.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Look at this!</h3>
          <h5 class="light grey-text text-lighten-3">More words, but about this thing.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>Check this out</h3>
          <h5 class="light grey-text text-lighten-3">Some more words about things.</h5>
        </div>
      </li>
    </ul>
  </div>

  <!--============== End Carousel Slider  ==============-->
  <!--============== Begin Content  ==============-->
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          {% for page in pages %}
            <li class="tab col s3"><a href="#{{page.name}}">{{page.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div id="page.name" class="col s12 pages">
        page.description
      </div>

      <div id="category.name" class="col s12 pages">
        <h1 class='center'>Category.name</h1>
        <hr>
        <h5 class='center'>Category.description</h5>

        <table>
          <tr>
            <td>
              <h5>Item.name
                <br>
                <small>Item.description</small>
              </h5>
            </td>
            <td class='right'>
              <h5>$Item.price</h5>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!--============== End Content  ==============-->
  <!--============== Begin Footer  ==============-->
  <footer>
      <div class="center">
          &#xa9; 2014-2015 Patio Coffee Shop - All Rights Reserved
      </div>
  </footer>
  <!--============== End Footer  ==============-->

</body>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.slider').slider({full_width: true, interval:5000});
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
</html>
